.App{
  min-height: 100vh;
  transition: all .3s ease-in-out;
}
.dark{
  background-color: black;
  color: white;
}
.light{
  background-color: white;
  color: black;
}

.navlight{background-color: rgb(63,83, 83);
color: white;


}
.navdark{
  background-color: white;
  color: black;
}